<div class="edit user group">
  <%= form_with(model: research_group, local: true, class: "ui form") do |form| %>
    <% if research_group.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(research_group.errors.count, "error") %> prohibited this research_group from being saved:</h2>
        <ul>
          <% research_group.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <br>
    <div class="ui grid" style="margin-bottom:50px;">
      <div class="nine wide column">
        <div class="ui row segment">
          <h3 class="ui teal header column" style="width: 100%">Datos B치sicos</h3>
          <h4 class="ui header">Nombre del grupo</h4>
          <%= form.text_field :name, autofocus: true, placeholder: 'Nombre del grupo' %>
          <h4 class="ui header">Administrador: <%= current_user.name %></h4>
          <div>
          <h4 class="ui left floated header">Descripci칩n</h4>
            <%= form.text_area :description, autofocus: true, placeholder: 'Describe en un p치rrafo breve para que la gente sepa de lo que hace tu equipo', class: 'big text area' %>
          </div>
        </div>
      </div>

      <div class="seven wide column">
        <div class="ui two column row segment">
          <h3 class="ui teal header column" style="width: 100%">Integrantes</h3>

          <div class="ui list">
            <% @members = ResearchGroup.getUsers(@research_group.id)%>
            <% @members.each do |member| %>
              <div class="item">
                  <% member = User.find(member.id) %>
                  <%= image_tag(member.photo, alt: 'Image', class: 'ui avatar image') if member.photo? %>
                  <div class="ui label">
                    <a class="header" style="display: inline"><%= member.name %></a> <%# TODO: Enlace al perfil %>
                    <div class="description">
                      <%= member.degree %>
                    </div>
                  </div>
              </div>
            <% end %>
          </div>
          <div class="field" style="width:100%">
            <%= form.select(:user_id, User.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecciona un participante'}, class: "ui search selection dropdown",style: "margin-bottom:15px; width:100%", multiple: "") %>
          </div>
        </div>
      </div>

    </div>

    <div class="actions">
      <center>
        <%= link_to 'Atr치s', research_groups_path, class:'ui button' %>
        <%= link_to 'Ver', @research_group, class:'ui teal button' %>
        <%= form.submit "Guardar", :class => 'ui teal button' %>
      </center>
    </div>
  <% end %>
</div>

<script type="text/javascript">
$('.ui.dropdown').dropdown();
</script>
