<%= form_with(model: research_group, local: true, class: "ui form") do |form| %>
  <% if research_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(research_group.errors.count, "error") %> prohibited this research_group from being saved:</h2>

      <ul>
      <% research_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="margin-bottom:40px; width:70%; margin-left:15%;">
    <%= form.text_field :name, autofocus: true, :placeholder => 'Título del Grupo' %>
  </div>

  <div class="field">
    <%= form.text_area :description, :placeholder => 'Descripción del Grupo' %>
  </div>

  <div class="actions">
    <center>
      <%= form.submit "Guardar Grupo", :class => 'ui teal button'%>
    </center>
  </div>
<% end %>
