<%=render "shared/menu"%>
<p id="notice"><%= notice %></p>
<br><br>
<div class="create article" style="margin-top:60px;">

  <div class="ui segment" style="padding:30px;">
    <h1 class="section-heading text-center">Grupo: <%= @research_group.name %></h1><br>

    <div class="ui grid">
      <div class="nine wide column">
        <h3 class="ui header">Descripción:</h3>
        <p>  <%= @research_group.description %></p>
      </div>
      <div class="seven wide column">
        <h3>Proyectos:</h3>
        <% @projects = Project.where(research_group_id: @research_group.id)%>
        <% @projects.each do |project| %>
        <%= link_to project.name, project_url(project.id) %> </h1>
          <br>
        <%end%>
      </div>
    </div>
  </div>

  <br>
  <br>
  <div class="ui four cards">
    <% @admin = User.find(@research_group.administrator_id) %>
    <%= render partial: "users/shared/single", locals: {user: @admin, group: @research_group} %>
    <% @members = Member.select(:user_id).where(research_group_id: @research_group.id).distinct%>
    <% @members.each do |member| %>
      <% @user = User.find(member.user_id) %>
      <%-if member.user_id != @research_group.administrator_id%>
        <%= render partial: "users/shared/single", locals: {user: @user, group: @research_group} %>
      <% end -%>
    <% end %>
  </div>


  <br>


  <center>
    <!-- <%= link_to 'Editar', research_groups_path(@project), class: 'ui teal button' %> -->
  </center>

  <%= link_to 'Atrás', research_groups_path, class: 'ui left floated button' %>
</div>
