<%- if controller_name != 'sessions' %>
  <%= link_to "Iniciar Sesión", new_session_path(resource_name) %>
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Registrarse", new_registration_path(resource_name) %>
<% end -%>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
  <% end -%>
  <%- if session["devise.email"] %>
    <p>El correo <%= session["devise.email"] %> ya ha sido registrado <%- if session["devise.provider"] %>con el proveedor <%= session["devise.provider"] %><% else %> con contraseña<% end -%></p>
  <% end -%>
  <a href="<%= user_facebook_omniauth_authorize_path %>" class='ui button facebook'><i class='facebook icon'></i>Ingresa con Facebook</a>
  <a href="<%= user_github_omniauth_authorize_path %>" class='ui button'><i class='github icon'></i>Ingresa con Github</a>
  <a href="<%= user_google_oauth2_omniauth_authorize_path %>" class='ui button google plus'><i class='google icon'></i>Ingresa con Google</a>
<% end -%>
