<div class="card">
  <div class="image">
    <%= image_tag(user.photo.url, alt: 'Image') if user.photo? %>
  </div>
  <div class="content">
    <div class="header"><%= user.name %></div>
    <div class="meta">
      <a><%= member.role %></a>
    </div>
    <div class="description">
      <%= user.description %>
    </div>
  </div>
  <div class="extra content">
    <span class="right floated">
      <%= user.email %>
    </span>
  </div>
</div>
