<div class="card">
  <div class="image">
    <%= image_tag(user.photo.url, alt: 'Image') if user.photo? %>
  </div>
  <div class="content">
    <div class="header"><%= user.name %></div>
    <div class="header"><%= user.id %></div>
    <div class="header"><%= group.administrator_id %></div>

    <div class="meta">
      <a><%= member.role %></a>
      <%-if user.id == group.administrator_id%>
        <a class="ui green horizontal right floated label">Líder de equipo</a>
      <%else%>
        <a class="ui orange horizontal right floated label">Participante</a>
      <%end-%>
    </div>
  </div>
  <div class="extra content">
    <span class="right floated" style="max-width: 100%;">
      <%= user.email %>
    </span>
  </div>
</div>
