<div class="ui bottom line principal header">¿Qué estás buscando?</div>

<%= form_tag({:controller => "home", :action => "index"}, :method => :get) do %>
<div class="ui secondary menu" id="dashboard-menu">
  <% if @items.length == 1 %>
  Se ha encontrado <%= @results %> resultado
  <% else %>
  Se han encontrado <%= @results %> resultados
  <% end %>
  <div class="right menu">
    <div class="ui right labeled input">
      <%= text_field_tag "searchbox", params[:searchbox], class: 'prompt', placeholder: 'Busca por palabras ...'%>
      <%= select_tag "category", options_for_select([ "Todo", "Proyectos", "Grupos", "Artículos" ], params[:category]), class:"ui teal label compact dropdown", onchange: "this.form.submit();" %>
    </div>
  </div>
</div>
<% end %>

<div class="dashboard">
  <% if @items.length != 0 %>
  <div class="ui one cards">
    <%= render @items %>
  </div>

  <div class="pagination">
    <%= will_paginate @items, previous_label:'Anterior', next_label:'Siguiente', renderer: WillPaginateSemanticUi::ActionView::Renderer %>
  </div>
  <% else %>
  <div class="no-results">
    <%= image_tag "sad.png", class:'ui centered small image' %>
    <h1 class="ui text-center header">¡Ups!</h1>
    <h4 class="ui text-center header">No encontramos resultados para tu búsqueda, intenta de nuevo</h4>
  </div>
  <% end %>
</div>
