<div class="ui secondary menu" id="main-menu">
  <%= link_to image_tag("https://react.semantic-ui.com/logo.png"), {controller: '/home'}, {class: 'item'} %>
  <div class="item" style="margin-left:-15px;">
    <%= link_to(raw('<h2 class="ui header" id="menu-name">SmartHub</h2>'), '/home') %>
  </div>

  <div class="right menu">
    <% if user_signed_in? %>
      <div class="item">
        <%= link_to(raw('<i class="plus icon"></i> Nuevo Grupo'), new_research_group_path, class: 'ui labeled icon basic green button') %>
      </div>
      <div class="item">
        <%= link_to(raw('<i class="file icon"></i> Publicar Artículo'), new_article_path, class: 'ui labeled icon basic red button') %>
      </div>

      <div class="item">
        <div class="ui dropdown">
          <h4 class="ui header" style="display:inline; min-width: 200px;">
            <%= image_tag(current_user.photo, alt: 'Avatar', class: 'ui avatar image') %>
            <%= current_user.name %>
          </h4>
          <i class="dropdown icon"></i>
          <div class="menu" id="menu-dropdown">
            <a class="item" href="<%= user_profile_path(current_user) %>">
              <i class="user icon"></i>Mi Perfil
            </a>
            <a class="item" href="<%= edit_user_registration_path %>">
              <i class="setting icon"></i>Configuración
            </a>
            <!-- <a class="item" href="">
              <i class="spy icon"></i>Panel Admin
            </a> -->
            <a class="item" data-method="delete" href="<%=destroy_user_session_path%>">
              <i class="sign out icon"></i>Cerrar Sesión
            </a>
          </div>
        </div>
      </div>

    <% else %>
      <div class="item">
        <a class="ui button" href="<%=new_user_session_path%>">Inicio Sesión</a>
      </div>
      <div class="item">
        <a class="ui teal button" href="<%=new_user_registration_path%>">Registro</a>
      </div>
    <% end %>

  </div>
</div>
