<div class="ui secondary menu" id="main-menu">
  <%= link_to image_tag("https://react.semantic-ui.com/logo.png"), {controller: '/home'}, {class: 'item'} %>
  <div class="item" style="margin-left:-15px;">
    <%= link_to(raw('<h2 class="ui header" id="menu-name">SmartHub</h2>'), '/home') %>
  </div>

  <div class="right menu">
    <% if user_signed_in? %>
      <div class="item">
        <%= link_to 'Nuevo Proyecto', new_project_path, class: 'ui teal button' %>
      </div>

      <div class="item">
        <a class="item" href="<%=edit_user_registration_path%>">
          <h4 class="ui header">
            <%= image_tag(current_user.photo.url, alt: 'Image', class: 'ui avatar image') if current_user.photo? %>
            <%= current_user.name %>
          </h4>
        </a>
        <a class="item" data-method="delete" href="<%=destroy_user_session_path%>">
          Cerrar Sesión
        </a>
      </div>

    <% else %>
      <div class="item">
        <a class="ui button" href="<%=new_user_session_path%>">Inicio Sesión</a>
      </div>
      <div class="item">
        <a class="ui teal button" href="<%=new_user_registration_path%>">Registro</a>
      </div>
    <% end %>

  </div>
</div>
<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 class="ui inverted header">Avanza en tu investigación</h1>
      <h2 class="ui inverted header">Haz parte del mundo de la investigación que se desarrolla en la Universidad Nacional</h2>
      <br><br><br><br>

      <% if user_signed_in? %>
        <a class="ui teal huge home button" href="<%=new_project_path%>">Crear Proyecto</a>
        <a class="ui white huge home button" href="<%=new_article_path%>">Publicar Artículo</a>
        <a class="ui white huge button" href="<%=projects_path%>">Ver Proyectos</a>
      <% else %>
        <a class="ui inverted huge home button" href="<%=projects_path%>">Ver Proyectos</a>
        <a class="ui teal huge home button" href="<%=new_user_registration_path%>"> Unirse a la Comunidad </a>
        <a class="ui inverted huge button" href="<%=new_contact_path%>"> Contacto </a>
      <% end %>

    </div>
  </div>
</header>

<%=render "shared/dashboard"%>
