<%=render "shared/menu"%>


<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 class="ui inverted header">Avanza en tu investigación</h1>
      <h2 class="ui inverted header">Haz parte del mundo de la investigación que se desarrolla en la Universidad Nacional</h2>
      <br><br><br><br>

      <% if user_signed_in? %>
        <a class="ui teal huge home button" href="<%=new_project_path%>">Crear Proyecto</a>
        <a class="ui white huge home button" href="<%=new_article_path%>">Publicar Artículo</a>
        <a class="ui white huge button" href="<%=projects_path%>">Ver Proyectos</a>
      <% else %>
        <a class="ui inverted huge home button" href="<%=projects_path%>">Ver Proyectos</a>
        <a class="ui teal huge home button" href="<%=new_user_registration_path%>"> Unirse a la Comunidad </a>
        <a class="ui inverted huge button" href="<%=new_contact_path%>"> Contacto </a>
      <% end %>

    </div>
  </div>
</header>
