<% if user_signed_in? %>
<%=render "shared/dashboard"%>
<% else %>
<header class="masthead">
  <div class="header-content">
    <div class="header-content-inner"><br><br><br><br>
      <h1 class="ui inverted header">Avanza en tu investigación</h1>
      <h2 class="ui inverted header">Haz parte del mundo de la investigación que se desarrolla en la Universidad Nacional</h2>
      <br><br><br><br>

      <!-- <a class="ui green huge home icon button" href="<%=new_research_group_path%>">
        <i class="users icon" style="margin-right:10px!important;"></i>Crear Grupo
      </a>
      <a class="ui red huge icon button" href="<%=new_article_path%>">
        <i class="file icon" style="margin-right:10px!important;"></i>Publicar Artículo
      </a> -->
        <a class="ui teal huge home button" href="<%=new_user_registration_path%>"> Unirse a la Comunidad </a>
        <a class="ui inverted huge button" href="<%=new_contact_path%>"> Contacto </a>
    </div>
  </div>
</header>
<% end %>
