<%= form_with(model: project, local: true, class: "ui form") do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :name, autofocus: true, :placeholder => 'Nombre' %>
  </div>

  <div class="field">
    <%= form.text_field :state, id: :project_state, autofocus: true, :placeholder => 'Estado del proyecto'%>
  </div>

  <div class="field">
    <%= form.text_area :summary, id: :project_summary, autofocus: true, :placeholder => 'Resumen del proyecto'%>
  </div>

  <div class="field">
    <%= form.label :git %>
    <%= form.text_field :git, id: :project_git, autofocus: true, :placeholder => 'Link del repositorio'%>
  </div>
  <div class="actions">
    <center>
      <%= form.submit "Crear proyecto", :class => 'ui teal button' %>
    </center>
  </div>

<% end %>
