<%= form_with(model: project, local: true, class: "ui form", method: current_page?(:action => 'new') ? :post : :put) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="margin-bottom:40px; width:70%; margin-left:15%;">
    <%= form.text_field :name, autofocus: true, :placeholder => 'Título del Proyecto' %>
  </div>

  <div class="ui two column scalable grid" style="margin-bottom:50px;">
    <div class="column">
      <div class="field">
        <%= form.text_area :summary, id: :project_summary, autofocus: true, :placeholder => 'Resumen del proyecto'%>
      </div>
    </div>

    <div class="column">
      <div class="field">
        <%= form.select(:research_line_id, ResearchLine.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecciona una línea de investigación'}, class: "ui search selection dropdown",style: "margin-bottom:15px") %>
      </div>
      <div class="field">
        <%= form.select(:user_id, User.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecciona un participante para agregar al proyecto'}, class: "ui search selection dropdown",style: "margin-bottom:15px", multiple: "") %>
      </div>
      <div class="field">
        <%= form.select( :research_group_id, ResearchGroup.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Selecciona un grupo al que pertenece proyecto'}, class: "ui search selection dropdown",style: "margin-bottom:15px") %>
      </div>
      <div class="field">
        <div class="ui left icon input">
          <%= form.text_field :git, id: :project_git, autofocus: true, :placeholder => 'URL repositorio del proyecto'%>
          <i class="github icon"></i>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('.ui.dropdown').dropdown();
  </script>

  <div class="actions">
    <center>
      <%= form.submit "Guardar proyecto", :class => 'ui teal button' %>
    </center>
  </div>

<% end %>
