<div class="ui secondary menu">
  <%= link_to image_tag("https://react.semantic-ui.com/logo.png"), {controller: '/home'}, {class: 'item'} %>
  <div class="item" style="margin-left:-15px;">
    <%= link_to(raw('<h2 class="ui logo header" id="menu-name">SmartHub</h2>'), '/home') %>
  </div>

  <div class="right menu">
    <% if user_signed_in? %>
      <div class="item">
        <%= link_to 'Nuevo Proyecto', new_project_path, class: 'ui teal button' %>
      </div>
      <div class="item">
        <a class="ui button" href="<%=edit_user_registration_path%>">Editar perfil</a>
      </div>
      <div class="item">
        <a class="ui button" data-method="delete" href="<%=destroy_user_session_path%>"> Cerrar Sesión </a>
      </div>
    <% else %>
      <div class="item">
        <a class="ui button" href="<%=new_user_session_path%>">Inicio Sesión</a>
      </div>
      <div class="item">
        <a class="ui teal button" href="<%=new_user_registration_path%>">Registro</a>
      </div>
    <% end %>
  </div>
</div>

<br>
<h1 class="section-heading text-center">Proyectos</h1>
<hr class="primary"><br>

<div style="margin:10px 10%;">
  <div class="ui three cards">
    <% @projects.each do |project| %>

    <a class="ui link card" href="<%=project_path(project)%>">
      <div class="content">
        <div class="header">
          <%= project.name %>
        </div>
        <div class="meta">
          <%= project.created_at %></td>
        </div>
        <div class="description">
          <%= project.summary %>
        </div>
      </div>

      <div class="extra content">
        <i class="github icon"></i>
        <%= project.git %>

        <!-- <div class="ui three small buttons">
        <%= link_to 'Editar', edit_project_path(project), class: 'ui button' %>
        <%= link_to 'Ver', project, class: 'ui teal button' %>
        <%= link_to 'Eliminar', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui button' %> -->
      </div>
    </a>

    <% end %>
  </div>

  <br><br>
  <%= will_paginate @projects, previous_label:'Anterior', next_label:'Siguiente', renderer: WillPaginateSemanticUi::ActionView::Renderer %>
</div>
