<%= render "shared/menu" %>

<div class="create article" style="margin-top:60px;">
  <h3 class="ui right floated header">Estado: <%= @project.state %></h3>
  <h1 class="section-heading text-center"><%= @project.name %></h1>

  <h3 class="ui header">Descripción:</h3>
  <p><%= @project.summary %></p>

  <h3 class="ui header">Git:</h3>
  <p><%= @project.git %></p>

  <center>
    <%= link_to 'Editar', edit_project_path(@project), class: 'ui teal button' %>
    <%= link_to 'Descargar como PDF', project_path(@project, :format => 'pdf'),  class: 'ui teal button', target: :_blank %>
  </center>

  <%= link_to 'Atrás', projects_path, class: 'ui left floated button' %>
</div>
