<%= render "shared/menu" %>
<br>
<br>
<div class="create article" style="margin-top:60px;">

  <div class="ui segment" style="padding:30px;">
    <h1 class="section-heading text-center"><b>Proyecto:</b> <%= @project.name %></h1><br>

    <div class="ui grid">
      <div class="eleven wide column">
        <h3 class="ui header">Descripción:</h3>
        <p><%= @project.summary %></p>
      </div>
      <div class="five wide column">
          <h3 class="ui big label <%= @project.state %>"> <%= @project.state %></h3>
        <br><br>
        <%= link_to raw('<i class="github icon"></i> Ver Repositorio'), @project.git, target: :_blank, class: 'ui labeled icon button' %>
        <!-- <%= link_to @project.git, target: :_blank, class: 'ui labeled icon button' %> -->
      </div>
    </div>
  </div>

  <br>
  <h1 class="section-heading text-center"> <%= link_to @group.name, research_group_url(@group.id) %> </h1>
  <h2 class="section-heading text-center">Integrantes</h2>
  <br>
  <div class="ui six cards">
    <% @users = Project.getUsers(@project.id) %>
    <% @users.each do |u| %>
      <% @user = User.find(u.id) %>
      <%= render partial: "users/shared/user", locals: {user: @user, group: @group} %>
    <% end %>
  </div>
  <br>

  <center>
    <% if current_user%>
    <%= link_to 'Editar', edit_research_group_project_path(@group, @project), class: 'ui teal button' %>
    <%end%>
    <!-- <%= link_to 'Eliminar', @project, method: :delete, data: { confirm: 'Estás seguro que quieres borrar el atículo?' }, class: 'ui red button' %> -->
    <%= link_to 'Descargar como PDF', project_path(@project, :format => 'pdf'),  class: 'ui teal button', target: :_blank %>
  </center>

  <%= link_to 'Atrás', research_group_url, class: 'ui left floated button' %>
</div>
