<div class="article section">

  <%-if !@subscriber and current_user != @group.administrator_id %>
  <%= button_to "Subscribirse", add_subscriber_path(@project), method: :post, class: 'ui blue right floated button' %>
  <%-else%>
  <%= button_to "Cancelar Subscripcion", delete_subscriber_path(@project), method: :delete, class: 'ui red right floated button' %>
  <% end -%>
  <h1 class="ui text-center bottom line heading"><b>Proyecto:</b> <%= @project.name %></h1><br>

  <div class="ui segment" style="padding:30px;">
    <div class="ui grid">
      <div class="eleven wide column">
        <h3 class="ui header">Descripción:</h3>
        <p><%= @project.summary %></p>
      </div>

      <div class="five wide column">
        <h3 class="ui big label <%= @project.state %>"> <%= @project.state %></h3>
        <br><br>
        <%= link_to raw('<i class="github icon"></i> Ver Repositorio'), @project.git, target: :_blank, class: 'ui labeled icon button' %>
        <br><br>
        <%-if current_user.id == @group.administrator_id %>
          <%= button_to "Eliminar Proyecto", project_path(@project), data: { confirm: "¿Estás seguro de eliminar este proyecto?" }, method: :delete, class: 'ui red button' %>
        <% end -%>
        <% if @members.where(user_id: current_user.id).length != 0 %>
          <%= link_to(raw('<i class="plus icon"></i> Publicar Artículo'), new_project_article_path(@project), class: 'ui labeled icon purple button') %>
        <% end %>
      </div>
    </div>
  </div><br>

  <h1 class="section-heading text-center"> <%= link_to @group.name, research_group_url(@group.id), id: "groupLink" %> </h1>
  <h2 class="section-heading text-center">Integrantes</h2><br>

  <div class="ui six stackable cards">
    <% @members.each do |m| %>
      <% @user = User.find(m.user_id) %>
      <%= render partial: "users/shared/user", locals: {user: @user, group: @group, member: m.id, project: @project} %>
    <% end %>
  </div>
  <br>

  <div class="ui segment" style="padding:30px;">
    <h2 class="ui header">Estadisticas de este proyecto</h2>
    <br>
    <div class="ui grid">
      <div class="ten wide column">
        <h3 class="ui header">¿Que tantas personas se han unido al proyecto?</h3>
        <div id="barChart">    </div>
      </div>
      <div class="six wide column">
        <h3 class="ui header">¿Que han estudiado las personas de este proyecto?</h3>
        <div id="chart"></div>
      </div>
    </div>

    <script type="text/javascript">
    c3.generate({
      bindto: '#barChart',
      data: {
          x: 'x',
          columns: [
              <%= raw @data[0].keys.unshift('x').to_s %>,
              <%= raw @data[0].values.unshift('participantes').to_s %>
          ],
          type: 'spline'
      },
      axis: {
          x: {
              type: 'timeseries',
              tick: {
                  format: '%d-%m-%Y'
              }
          }
      },
      legend: {
        show: false
      }
    });
    c3.generate({
      bindto: '#chart',
      data: {

        json: JSON.parse('<%= raw @data[1].to_json %>'),
        type : 'pie'
      }
    });
    </script>
  </div>

  <center>
    <% if current_user.id == @group.administrator_id %>
      <%= link_to 'Editar', edit_research_group_project_path(@group, @project), class: 'ui teal button' %>
    <%end%>
    <%= link_to 'Descargar como PDF', project_path(@project, :format => 'pdf'),  class: 'ui teal button', target: :_blank %>
    <%= link_to 'Atrás', :back, class: 'ui left floated button' %>
  </center>
</div>
