<%= render "shared/menu" %>
<br>
<br>
<div class="create article" style="margin-top:60px;">

  <h1 class="section-heading text-center"><%= @project.name %></h1>
  <br>
  <div class="ui grid">
    <div class="five wide column"></div>
    <div class="four wide column">
      <div>
        <p><i class="github icon"></i>  Repo: <%= @project.git %></p>
      </div>
    </div>
    <div class="four wide column">
      <h3 class="ui green label">Estado: <%= @project.state %></h3>
    </div>
    <div class="three wide column"></div>
  </div>

  <div class="ui grid">
    <div class="two wide column"></div>
    <div class="eight wide column">
      <h3 class="ui header">Descripción:</h3>
      <p><%= @project.summary %></p>
    </div>
  </div>

  <h1 class="section-heading text-center">Integrantes</h1>
  <%= ResearchGroup.where(project_id: @project.id)%>

  <center>
    <%= link_to 'Editar', edit_project_path(@project), class: 'ui teal button' %>
    <%= link_to 'Descargar como PDF', project_path(@project, :format => 'pdf'),  class: 'ui teal button', target: :_blank %>
  </center>

  <%= link_to 'Atrás', projects_path, class: 'ui left floated button' %>
</div>
