<div class="ui secondary menu">
  <%= link_to image_tag("https://react.semantic-ui.com/logo.png"), {controller: '/home'}, {class: 'item'} %>
  <div class="item" style="margin-left:-15px;">
    <h2 class="ui header">SmartHub</h2>
  </div>

  <div class="right menu">
    <div class="item">
      <a class="ui button" href="<%=new_user_session_path%>">Inicio Sesión</a>
    </div>
    <div class="item">
      <a class="ui teal button" href="<%=new_user_registration_path%>">Registro</a>
    </div>
  </div>
</div>

<div class="login">
  <h1 class="text-center">¿Olvidaste tu contraseña?</h1>
  <hr class="primary">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "ui form" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, :placeholder => 'Email'  %>
  </div>

  <div class="actions">
    <center>
      <%= f.submit "Restablecer contraseña", :class => 'ui teal button' %>
    </center>
  </div>
  <% end %>

  <!-- <div class="links text-center">
    ¿No tienes problemas con la contraseña?<br>
    <%= render "users/shared/links" %>
  </div> -->
</div>
