<!DOCTYPE html>
<html>
  <head>
    <title>SmartHub - Grupos de Investigación en la UN</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-creative/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="ui secondary menu" id="main-menu">
    <%= link_to image_tag("https://react.semantic-ui.com/logo.png"), {controller: '/home'}, {class: 'item'} %>
    <div class="item" style="margin-left:-15px;">
      <h2 class="ui teal header">SmartHub</h2>
    </div>

    <div class="right menu">

      <% if user_signed_in? %>
      <div class="item">
        Bienvenido <%= current_user.email %>
      </div>
      <div class="item">
        <a class="ui button" data-method="delete" href="<%=destroy_user_session_path%>">
          Cerrar Sesión
        </a>
      </div>

      <% else %>
      <div class="item">
        <a class="ui button" href="<%=new_user_session_path%>">Inicio Sesión</a>
      </div>
      <div class="item">
        <a class="ui teal button" href="<%=new_user_registration_path%>">Registro</a>
      </div>
      <% end %>
    </div>
  </div>
  <%= yield %>
</body>

</html>
