<head>
  <title>SmartHub - Grupos de Investigación en la UN</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'css/blackrockdigital', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= yield %>

  <footer class="ui text-center inverted segment" id="footer">
    <%= link_to image_tag("https://react.semantic-ui.com/logo.png"), {controller: '/home'}, {class: 'ui avatar image'} %>
    <strong>SmartHub - An UNsigned application</strong>
  </footer>
</body>
