<%= render 'shared/menu' %>
<br><br><br>
<p id="notice"><%= notice %></p>

<div class="ui grid">
  <div class="six wide column">
    <%= image_tag(@user.photo.url, class:'ui small circular image')%>
    <br>
    <span><%= @user.name%></span>
    <div class="ui secondary vertical pointing menu" id="profile-menu">
      <a class="item" data-items="groups">Grupos</a>
      <a class="item" data-items="projects">Proyectos</a>
    </div>
  </div>

  <div class="ten wide column">
    <div class="holder groups">
      <div class="ui two column row segment">
        <h3 class="ui teal header column" style="width: 100%">Grupos de <%= @user.name%></h3>
        <div class="ui three cards">
          <%@research_groups.each do |g|%>
            <%= render partial: "research_groups/research_group", locals: {research_group: g} %>
          <%end%>
        </div>
      </div>
    </div>

    <div class="holder projects">
      <div class="ui two column row segment">
        <h3 class="ui teal header column" style="width: 100%">Grupos de <%= @user.name%></h3>
        <div class="ui three cards">
          <%@projects.each do |project|%>
            <%= render partial: "projects/project", locals: {project: project} %>
          <%end%>
        </div>
      </div>
    </div>

  </div>
</div>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
