<div class="edit user">
  <div class="ui grid">
    <div class="four wide column">
      <%= image_tag(@user.photo.url, class:'ui small circular image')%>
      <br>
      <h3 class="ui heading"><%= @user.name%></h3>
      <div class="ui secondary vertical pointing menu" id="profile-menu">
        <a class="item active" data-items="groups">Grupos a los que pertenece</a>
        <a class="item" data-items="projects">Proyectos en los que paticipa</a>
      </div>
    </div>

    <div class="twelve wide column">
      <div class="holder groups">
        <div class="ui segment">
          <h3 class="ui bottom line header">Grupos de <%= @user.name%></h3><br><br>
          <div class="ui two cards">
            <%@research_groups.each do |g|%>
            <%= render partial: "research_groups/research_group", locals: {research_group: g} %>
            <%end%>
          </div>
        </div>
      </div>

      <div class="holder projects">
        <div class="ui segment">
          <h3 class="ui bottom line header">Proyectos de <%= @user.name%></h3><br><br>
          <div class="ui two cards">
            <%@projects.each do |project|%>
            <%= render partial: "projects/project", locals: {project: project} %>
            <%end%>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
