<%= render 'shared/menu' %>

<div class="edit user">
  <h1 class="section-heading text-center">Editar perfil</h1>
  <hr class="primary"><br><br>

  <div class="ui grid">
    <div class="five wide column">
      <div class="ui secondary vertical pointing menu" id="profile-menu">
        <a class="item active" data-items="basic-info">Información básica</a>
        <a class="item" data-items="academic-info">Información académica</a>
        <!-- <a class="item" data-items="change-pass">Cambiar contraseña</a> -->
        <a class="item" data-items="delete">Eliminar cuenta</a>
      </div>
    </div>

    <div class="eleven wide column">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'ui form', method: :put }) do |f| %>
    <%= devise_error_messages! %>
      <div class="holder basic-info">
        <div class="ui row segment">
          <h3 class="ui teal header column" style="width: 100%">Datos Básicos</h3>
          <div class="field four wide left floated column">
            <center><br>
              <%= image_tag current_user.photo.url, id:'img_prev', class:'ui tiny circular image'%><br>
              <label for="avatar-upload" class="ui icon button">
                <i class="camera icon" style="margin-right:5px!important;"></i>
                Subir foto
              </label>
              <%= f.file_field :photo, id: 'avatar-upload', accept: 'image/png,image/jpeg' %>
            </center>
          </div>
          <div class="field ten wide right floated column">
            <h4 class="ui header">Nombre y Apellidos</h4>
            <%= f.text_field :name, autofocus: true, placeholder: 'Nombre' %>
            <h4 class="ui header">Correo Electrónico</h4>
            <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
          </div>

          <div class="actions"><%= f.submit "Guardar cambios", class: 'ui teal right floated button' %></div>
        </div>
      </div>

      <div class="holder academic-info">
        <div class="ui two column row segment">
          <h3 class="ui teal header column" style="width: 100%">Datos Académicos</h3>
          <div class="field column">
            <h4 class="ui left floated header">Descripción</h4>
            <%= f.text_area :description, autofocus: true, placeholder: 'Descríbete en un párrafo breve para que la gente sepa de lo que haces', class: 'big text area' %>
          </div>
          <div class="field right floated column">
            <h4 class="ui header">Estudios (separados por comas)</h4>
            <%= f.text_area :degree, autofocus: true, placeholder: 'Ej: Pregrado en ingeniería de sitemas, maestría en Machine Learning, ...', class: 'small text area' %>
            <h4 class="ui header">Departamento</h4>
            <%= select("post", "departament", ResearchLine.all.collect { |p| [ p.name, p.id ] }, {prompt: 'Selecciona un departamento'}, class: "ui dropdown",style: "margin-bottom:15px") %>
          </div>

          <div class="actions"><%= f.submit "Guardar cambios", class: 'ui teal right floated button' %></div>
        </div>
      </div>
      <% end %>

      <div class="holder delete">
        <div class="ui segment text-center">
          <h3 class="ui header">¿Cansado de hacer investigación?</h3>
          <center>
            <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro de que quieres cancelar tu cuenta?" }, method: :delete, class: 'ui red button' %>
          </center>
        </div>
      </div>
    </div>
  </div>

  <%= link_to "Atrás", '/home', class: 'ui button' %>
</div>
